body{
	/*background: #0000FF;*/
	background: blue;
	/*background: rgb(155,40,33);*/
	/*background: rgba(155,40,33,1);*/
	color: white;
}
header{
	border: 1px solid black;
	text-align: center;
}
header nav ul li
{
	background: orange;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	width: 100px;
}
header nav ul li:hover
{
	background: black;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	width: 100px;
}





