body{
	font-size: 16px; /*1em*/
	margin: 0 auto;
	min-width: 1078px;
	max-width: 1078px;
}
header nav{
	margin-left: 220px;
	/*No funciona por la mancha de pintura*/
	/*text-align: center;*/
}
header input{
	float: right;
	margin-top: 15px;
	margin-right: -200px;
	position: relative;
}
header nav ul li{
	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	padding-bottom: 2px;
	/*text-decoration: underline;*/
}
#bgoffer{
	left: -35px;
	position: relative;
	top: -410px;
}
#granthams{
	margin-top:  25px;
	margin-left: 25px;
}
#paint{
	float: right;
}
#primerseccion{
	/*Tamaño de la imagen*/
	height: 318px;
	margin-top: 60px;
}
#primerseccion article{
	display: inline-block;
	vertical-align: top;
}
#secc01art01{
	margin-left: 30px;
	width: 60%;
}
#secc01art02{
	margin-left: 50px;
	width: 30%;
}
#secc01art02 ul{
	/*Quitamos viñetas (bullets)*/
	list-style: none;
}
#secc01art02 ul li:before{
	content: "• ";
	color: #b28787;
}
#segundaseccion article{
	padding-right: 122px;
	text-align: right;
}
#terceraseccion article{
	display: inline-block;
	vertical-align: top;
	width: 23%; /*100%/4 article*/
}
#terceraseccion article input[type="email"]{
	border-radius: 5px;
}
#terceraseccion article input[type="button"]{
	background: #8bc500;
	border-radius: 5px;
	color:white;
}
#terceraseccion article img{
	/*Alineación vertical del texto*/
	vertical-align: middle;
}
.colorazul{
	color: #4267b3;
}
.colorrosa{
	color: #FF0099;
}
.colorverde{
	color: #8bc500;
}
.letramediana{
	font-size: 2em;
}
.nito{
	font-weight: bold;
}
.letragrande{
	font-size: 3.5em;
}








